*.vscode
build/**
*.exe
wrsdk-vxworks7-raspberrypi4b
connect/vxWorks
connect/build.config
connect/workbench_log_files/*.txt
connect/execution_log_files/*.txt
virtualized_raspberry/debug/debug*.txt
.DS_Store
rpivsb
host_script/log_test/*
host_script/importer_files/*
host_script/trace_files/*
host_script/analysis/*
tapo.config
